# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules/
dist/
.sass-cache/
audio/
.phpintel/
images/
.phpintel/

.gitignore
.gitattributes
nbproject/
fonts/
phpcs.xml.dist

js/easySlider1.5.js
js/jplayer-audio.txt
js/jplayer-audio.js
js/nivo-slider.pack.js
js/dist/

css/style.css.map
css/style.scss.map
css/style.css
css/.sass-cache/
vendor/
vendor/bin/
docs/
ie.css.map
style.css.map
.vscode/
js/api.js
webpack.config.js