
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/titillium-web/titillium-web-v4-latin-regular.eot'); /* IE9 Compat Modes */

  src: local('Titillium Web'), local('TitilliumWeb-Regular'),
       url('../../fonts/titillium-web/titillium-web-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/titillium-web/titillium-web-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/titillium-web/titillium-web-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/titillium-web/titillium-web-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/titillium-web/titillium-web-v4-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* titillium-web-700 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/titillium-web/titillium-web-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'),
       url('../../fonts/titillium-web/titillium-web-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/titillium-web/titillium-web-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/titillium-web/titillium-web-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/titillium-web/titillium-web-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/titillium-web/titillium-web-v4-latin-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}


$font-main: 'Titillium Web','ai_kelsor', arial, verdana, helvetica, sans-serif ;

$color:#ffffff; //white
$color1:#347026; //green
$colors:#253901;
$color2:#e9ad29; //yellow
$color2a:#d3a401;
$color3:#d1181e; //base red
$color4:#000000; //black
$color5:#4F4F4F; //dark grey
$color5a:#9c281b; //dark red
$color6:#e21319; // lighter red
$color7:#658905; //dark green
$color8:#cc0502; //submit red green
$color9:#cccccc; //submit red green
$color10:#cccc66; //olive green
$color11:#d6d5d4; //brown
$color11a:#ebe7e3;
$font-color:#262626;
