$font-main: "Titillium Web", arial, sans-serif, verdana, helvetica;
$color: #ffffff; // white
$colors: #253901; // dark green
$color1: #256b40; // green
$color2: #fdd015; // yellow
$color3: #f0ecec; // white 2
$color4: #262626; // base red
$color5: #d1181e; // Red
$color6: #e21319; // lighter red
$color7: #658905; // army green
$color8: #cccc66; // olive green
$color9: #f20204; // even lighter red
$color10: #3a9a00; // olive green
$color11: #ebeadd; // greyish white
$font-color: #262626; // black 2
