$font-main: "Titillium Web", arial, sans-serif, verdana, helvetica;
$white: #ffffff; // white
$dark-green: #253901; // dark green
$green: #256b40; // green
$yellow: #fdd015; // yellow
$white2: #f0ecec; // white 2
$black: #262626; // black
$red: #d1181e; // Red
$army-green: #658905; // army green
$light-green: #cccc66; // lighter green
$olive-green: #3a9a00; // olive green
$grey-white: #ebeadd; // greyish white
