

$font-main: 'Titillium Web','ai_kelsor', arial, verdana, helvetica, sans-serif ;

$color:#ffffff; //white
$color1:#347026; //green
$colors:#253901;
$color2:#e9ad29; //yellow
$color2a:#d3a401;
$color3:#d1181e; //base red
$color4:#000000; //black
$color5:#4F4F4F; //dark grey
$color5:#9c281b; //dark red
$color6:#e21319; // lighter red
$color7:#658905; //dark green
$color8:#cc0502; //submit red green
$color9:#cccccc; //submit red green
$color10:#cccc66; //olive green
$color11:#6b5946; //brown
$color11a:#99836c;
$font-color:#262626;